.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 80px
}

.content-wrapper {
    margin-top: 40px;
}

.button {
    padding: 8px 12px;
    background: #939393;
    border-radius: 10px;
}